<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="BingRestUrl" value="http://az517271.vo.msecnd.net/TodayImageService.svc/HPImageArchive?mkt=en-ww&amp;idx=0&amp;format=json" />
    <add key="LastUpdated" value="23/08/2015 00:00:00" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>
